# GitHub folders
/.github/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.yml

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# JetBrains
.idea/

# Data & Models
*.h5
*.tar
*.tar.gz
/home/maxihuber/eeg-foundation/src/models/components/Baselines/

# Profiling data
/log
/logs
/runs
/temp
/symlinks/*
/run_tmp
/wandb
/googlesheetresults
tmp_STORDIR

# Results
results/*
!results/.keep

# Development
development/*
!development/.keep
src/utils/batching/*
!src/utils/batching/Batching.ipynb
src/utils/plotting
src/utils/preprocessing/Preprocessing.ipynb
src/utils/preprocessing/PreprocessingFromArd.ipynb
src/utils/preloading/Preloading.ipynb

# Checkpoints (WandB & Lightning)
/eeg-foundation

# Finetuning
src/finetune/lightning_logs/*
src/models/components/Baselines/*
src/data/components/*

# Runs
index_path*.txt
spg_paths*.txt

# Lightning-Hydra-Template
/configs
/data/
/logs/
.env

# indices_and_labels
/indices_and_labels/

# Aim logging
.aim

/home/maxihuber/eeg-foundation/src/finetune/lightning_logs/*
/home/maxihuber/eeg-foundation/lightning_logs/*
lightning_logs/version_994682/events.out.tfevents.1718443336.tikgpu10.920188.0
lightning_logs/version_994682/hparams.yaml
lightning_logs/version_994689/events.out.tfevents.1718443702.tikgpu10.920674.0
lightning_logs/version_994689/hparams.yaml
lightning_logs/version_994708/events.out.tfevents.1718445806.tikgpu10.921681.0
lightning_logs/version_994708/hparams.yaml
lightning_logs/version_995026/events.out.tfevents.1718447743.tikgpu10.923124.0
lightning_logs/version_995026/hparams.yaml
lightning_logs/version_995405/events.out.tfevents.1718452738.tikgpu03.3066510.0
lightning_logs/version_995405/hparams.yaml
lightning_logs/version_995407/events.out.tfevents.1718454891.tikgpu09.834457.0
lightning_logs/version_995407/hparams.yaml
lightning_logs/version_995410/events.out.tfevents.1718454840.tikgpu08.1168599.0
lightning_logs/version_995410/hparams.yaml
lightning_logs/version_995873/events.out.tfevents.1718455542.tikgpu08.1169596.0
lightning_logs/version_995873/hparams.yaml
lightning_logs/version_996438/events.out.tfevents.1718464961.tikgpu08.1177305.0
lightning_logs/version_996438/hparams.yaml
lightning_logs/version_996439/events.out.tfevents.1718465834.tikgpu08.1177945.0
lightning_logs/version_996439/hparams.yaml
lightning_logs/version_997050/events.out.tfevents.1718471068.tikgpu07.993008.0
lightning_logs/version_997050/hparams.yaml
src/finetune/BCI/lightning_logs/version_0/events.out.tfevents.1718436866.tikgpu02.1760090.0
src/finetune/BCI/lightning_logs/version_0/hparams.yaml
src/finetune/BCI/lightning_logs/version_1/events.out.tfevents.1718437396.tikgpu02.1760090.1
src/finetune/BCI/lightning_logs/version_1/hparams.yaml
src/finetune/BCI/lightning_logs/version_10/events.out.tfevents.1718459878.arton11.21833.0
src/finetune/BCI/lightning_logs/version_10/hparams.yaml
src/finetune/BCI/lightning_logs/version_11/events.out.tfevents.1718460884.tikgpu08.1172459.0
src/finetune/BCI/lightning_logs/version_11/hparams.yaml
src/finetune/BCI/lightning_logs/version_12/events.out.tfevents.1718461531.tikgpu08.1172459.1
src/finetune/BCI/lightning_logs/version_12/hparams.yaml
src/finetune/BCI/lightning_logs/version_13/events.out.tfevents.1718461618.tikgpu08.1172459.2
src/finetune/BCI/lightning_logs/version_13/hparams.yaml
src/finetune/BCI/lightning_logs/version_14/events.out.tfevents.1718462311.tikgpu08.1174348.0
src/finetune/BCI/lightning_logs/version_14/hparams.yaml
src/finetune/BCI/lightning_logs/version_15/events.out.tfevents.1718462393.tikgpu08.1174348.1
src/finetune/BCI/lightning_logs/version_15/hparams.yaml
src/finetune/BCI/lightning_logs/version_16/events.out.tfevents.1718462539.tikgpu08.1174348.2
src/finetune/BCI/lightning_logs/version_16/hparams.yaml
src/finetune/BCI/lightning_logs/version_17/events.out.tfevents.1718463557.tikgpu08.1174348.3
src/finetune/BCI/lightning_logs/version_17/hparams.yaml
src/finetune/BCI/lightning_logs/version_2/events.out.tfevents.1718437506.tikgpu02.1760090.2
src/finetune/BCI/lightning_logs/version_2/hparams.yaml
src/finetune/BCI/lightning_logs/version_3/events.out.tfevents.1718437763.tikgpu02.1760090.3
src/finetune/BCI/lightning_logs/version_3/hparams.yaml
src/finetune/BCI/lightning_logs/version_4/events.out.tfevents.1718439495.tikgpu10.915867.0
src/finetune/BCI/lightning_logs/version_4/hparams.yaml
src/finetune/BCI/lightning_logs/version_5/events.out.tfevents.1718440213.tikgpu10.915867.1
src/finetune/BCI/lightning_logs/version_5/hparams.yaml
src/finetune/BCI/lightning_logs/version_6/events.out.tfevents.1718440364.tikgpu10.915989.0
src/finetune/BCI/lightning_logs/version_6/hparams.yaml
src/finetune/BCI/lightning_logs/version_7/events.out.tfevents.1718444655.arton11.156746.0
src/finetune/BCI/lightning_logs/version_7/hparams.yaml
src/finetune/BCI/lightning_logs/version_8/events.out.tfevents.1718445093.arton11.156746.1
src/finetune/BCI/lightning_logs/version_8/hparams.yaml
src/finetune/BCI/lightning_logs/version_9/events.out.tfevents.1718458483.arton11.156746.2
src/finetune/BCI/lightning_logs/version_9/hparams.yaml
